{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns"><h4>Přidání pozice</h4></div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

    <!-- vložíme formulář pro vložení nové pozice
         renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
    {form poziceForm}
        <!-- výpis chyb -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
        </div>
        </div>

        <!-- vkládání polí formuláře -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Název <small>vyžadováno</small>
                {input nazev}
            </label>
        </div>
        </div>
        
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Hodinová mzda
                {input hodinova_mzda}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <div class="row">
            <div class="small-4 medium-2 large-1 columns">
                {input send}
            </div>
            </div>
        </div>
        </div>
        
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    {/form}
{/block}
