{block content}
<div class="row">
<div class="small-12 medium-12 large-12 small-centered columns">

    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
    
    <!-- definujeme tabulku, do které budeme vypisovat informace o pozicích -->
    <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
    <caption><h5>Výpis pozic</h5></caption>
    <tr>
        <th>Název</th>
        <th>Hodinová mzda (Kč)</th>
    </tr>
    
     <!-- procházíme předané léky a vpisujeme informace o nich do tabulky -->
    <tr n:foreach="$pozice as $urcita_pozice">
        <td>{$urcita_pozice->nazev}
            <div style="visibility:hidden;" class="div-show-addition-info">
                <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                    <li><a n:href="Pozice:edit $urcita_pozice->ID_pozice">Upravit</a></li>
                    <li><a n:href="Pozice:delete $urcita_pozice->ID_pozice">Smazat</a></li>
                    <li><a n:href="Zamestnanec:default zobrazSouvisejiciZamestnancePodleId => $urcita_pozice->ID_pozice">Zobrazit pracovníky na této pozici</a></li>
                </ul>
            </div>
        </td>
        <td>{$urcita_pozice->hodinova_mzda}</td>
    </tr>
    </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
