{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
        <h4>Přidání léku</h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

    <!-- vložíme formulář
         renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
    {form lekForm}
        <!-- výpis chyb -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
        </div>
        </div>

        <!-- vkládání polí formuláře -->

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Název léku <small>vyžadováno</small>
                {input nazev}
            </label>
        </div>
        </div>

        <!-- renderujeme výčet (enum) -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Typ
            <div class="row">
                <!-- projdeme všechny jeho položky -->
                {foreach $form[typ]->items as $key => $label}
                    <!-- u položky "kapky" přejdeme na nový řádek -->
                    {if $key == "kapky"}
                        </div>
                        <div class="row">
                    {/if}
                    <!-- každou položku zobrazíme zvlášť -->
                    <div class="small-6 medium-4 large-4 columns end">
                        <label n:name="typ:$key"><input n:name="typ:$key"> {$label}</label>
                    </div>
                {/foreach}
            </div>
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Účinná látka
                {input ucinna_latka}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Kontraindikace
                {input kontraindikace}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <div class="row">
            <div class="small-4 medium-2 large-1 columns">
                {input send}
            </div>
            </div>
        </div>
        </div>

        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    {/form}
{/block}
