{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>

        <!-- definujeme tabulku, do které budeme vypisovat informace o lécích -->
        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>
                <!-- Nadpis se nastaví podle toho, jestli jsme vyhledávali nebo ne -->
                {if $vyhledej_lek}
                    Vyhledání léku podle parametrů: <strong>{$searchParams}</strong>
                {else}
                    Výpis léků
                {/if}
            </h5></caption>
            <tr>
                <th>Název</th>
                <th>Typ</th>
                <th>Účinná látka</th>
                <th>Kontraindikace</th>
            </tr>

            <!-- procházíme předané léky -->
            <tr n:foreach="$leky as $lek">
                <!-- a vpisujeme informace do tabulky -->
                <td>{$lek->nazev}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">

                            <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                            <li><a n:href="Lek:edit $lek->ID_leku">Upravit</a></li>
                            <li><a n:href="Lek:delete $lek->ID_leku">Smazat</a></li>
                            <li><a n:href="DruhLek:default zobrazSouvisejiciDruhyPodleIdLeku => $lek->ID_leku">Zobrazit druhy zvířat k danému léku</a></li>
                            <li><a n:href="DruhLek:create pridejDruhKLekuPodleID => $lek->ID_leku">Přidat druh zvířete k danému léku</a></li>
                            <li><a n:href="LekNemoc:default zobrazSouvisejiciNemociPodleIdLeku => $lek->ID_leku">Zobrazit nemoci k danému léku</a></li>
                            <li><a n:href="LekNemoc:create pridejNemocKLekuPodleID => $lek->ID_leku">Přidat nemoc k danému léku</a></li>
                        </ul>
                    </div>
                </td>
                <td>{$lek->typ}</td>
                <td>{$lek->ucinna_latka}</td>
                <td>{$lek->kontraindikace}</td>
            </tr>
        </table>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
