{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
        
        <!-- Nadpis se nastaví podle toho, jestli přidáváme lék k druhu, nebo druh k léku -->
        <h4>
            {if $pridejLekKeDruhuPodleID}Přidání léku ke druhu zvířete: <strong>{$druh->nazev}</strong>
            {elseif $pridejDruhKLekuPodleID}Přidání druhu zvířete k léku: <strong>{$lek->nazev}</strong>{/if}
        </h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>
    
    <!-- Pokud přidáváme lék k druhu -->
    {if $pridejLekKeDruhuPodleID}
    
    <!-- vložíme formulář pro přidání léku k druhu
         renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
    {form pridejLekKeDruhuForm}
    
        <!-- výpis chyb -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
        </div>
        </div>

        <!-- vkládání polí formuláře -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Doporučené dávkování
                {input doporucene_davkovani}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Vedlejší účinky
                {input vedlejsi_ucinky}
            </label>
        </div>
        </div>

        {input ID_druhu}

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Léky <small>vyžadováno</small>
                {input ID_leku}
            </label>
        </div>
        </div>
        

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <div class="row">
            <div class="small-4 medium-2 large-1 columns">
                {input send}
            </div>
            </div>
        </div>
        </div>

        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    {/form}
    
    <!-- Pokud přidáváme druh k léku -->
    {elseif $pridejDruhKLekuPodleID}
    
    <!-- vložíme formulář pro přidání druhu k léku
         renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
    {form pridejDruhKLekuForm}
    
        <!-- výpis chyb -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
        </div>
        </div>

        <!-- vkládání polí formuláře -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Doporučené dávkování
                {input doporucene_davkovani}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Vedlejší účinky
                {input vedlejsi_ucinky}
            </label>
        </div>
        </div>

        {input ID_leku}

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Druhy <small>vyžadováno</small>
                {input ID_druhu}
            </label>
        </div>
        </div>
        

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <div class="row">
            <div class="small-4 medium-2 large-1 columns">
                {input send}
            </div>
            </div>
        </div>
        </div>

        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    {/form}
    {/if}
{/block}
