{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>

        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            
            <!-- Nadpis se nastaví podle toho, jestli zobrazujeme léky k druhu, nebo druhy k léku -->
            <caption><h5>
                {if $zobrazSouvisejiciLekyPodleIdDruhu}Výpis léků pro druh zvířete: <strong>{$druh->nazev}</strong>
                {elseif $zobrazSouvisejiciDruhyPodleIdLeku}Výpis druhů zvířat pro lék s názvem: <strong>{$lek->nazev}</strong> a typem: <strong>{$lek->typ}</strong>{/if}
                </h5></caption>
            
            <!-- Pokud zobrazujeme léky k druhu -->
            {if $zobrazSouvisejiciLekyPodleIdDruhu}
            <tr>
                <th>Název léku</th>
                <th>Typ léku</th>
                <th>Účinná látka</th>
                <th>Kontraindiakce</th>
                <th>Doporučené dávkování</th>
                <th>Vedlejší účinky</th>
            </tr>
            
             <!-- procházíme předané léky a vpisujeme informace do tabulky -->
            <tr n:foreach="$souvisejiciLekyPodleDruhu as $souvisejiciLekPodleDruhu">
                <td>{$souvisejiciLekPodleDruhu->lek->nazev}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            
                            <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                            <li><a n:href="DruhLek:edit upravLekyUDruhu => 'true', ID_leku => $souvisejiciLekPodleDruhu->ID_leku, ID_druhu => $souvisejiciLekPodleDruhu->ID_druhu">Upravit</a></li>
                            <li><a n:href="DruhLek:deleteLekUDruhu ID_leku => $souvisejiciLekPodleDruhu->ID_leku, ID_druhu => $souvisejiciLekPodleDruhu->ID_druhu">Smazat</a></li>
                        </ul>
                   </div>
                </td>
                <td>{$souvisejiciLekPodleDruhu->lek->typ}</td>
                <td>{$souvisejiciLekPodleDruhu->lek->ucinna_latka}</td>
                <td>{$souvisejiciLekPodleDruhu->lek->kontraindikace}</td>
                <td>{$souvisejiciLekPodleDruhu->doporucene_davkovani}</td>
                <td>{$souvisejiciLekPodleDruhu->vedlejsi_ucinky}</td>
            </tr>
            
            <!-- Pokud zobrazujeme druhy k léku -->
            {elseif $zobrazSouvisejiciDruhyPodleIdLeku}
               <tr>
                <th>Název druhu zvířete</th>
                <th>Doporučené dávkování</th>
                <th>Vedlejší účinky</th>
            </tr>

            <!-- procházíme předané druhy a vpisujeme informace do tabulky -->
            <tr n:foreach="$souvisejiciDruhyPodleIdLeku as $souvisejiciDruhPodleIdLeku">
                <td>{$souvisejiciDruhPodleIdLeku->druh->nazev}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            
                             <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                            <li><a n:href="DruhLek:edit upravLekyUDruhu => 'false', ID_leku => $souvisejiciDruhPodleIdLeku->ID_leku, ID_druhu => $souvisejiciDruhPodleIdLeku->ID_druhu">Upravit</a></li>
                            <li><a n:href="DruhLek:deleteDruhULeku ID_leku => $souvisejiciDruhPodleIdLeku->ID_leku, ID_druhu => $souvisejiciDruhPodleIdLeku->ID_druhu">Smazat</a></li>
                        </ul>
                    </div>
                </td>
                <td>{$souvisejiciDruhPodleIdLeku->doporucene_davkovani}</td>
                <td>{$souvisejiciDruhPodleIdLeku->vedlejsi_ucinky}</td>
            </tr>
            {/if}
        </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
