{* This is the welcome page, you can delete it *}

{block content}

	<div class="row">&nbsp;&nbsp;</div>
	<div class="row">&nbsp;&nbsp;</div>
	<div class="row">
	<div class="small-8 medium-6 large-4 small-centered columns"><h4>Pro vstup do informačního systému veterninární kliniky se prosím přihlašte.</h4></div>
	</div>

	<div class="row">&nbsp;&nbsp;</div>
    
    <!-- vložíme formulář pro přihlášení
         renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
	{form signInForm}
	
    <!-- výpis chyb -->
    <ul class="errors" n:if="$form->hasErrors()">
		<li n:foreach="$form->errors as $error">{$error}</li>
	</ul>
    
    <!-- vkládání polí formuláře -->
	<div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
      <label>Login
        {input login}
      </label>
    </div>
	</div>
  <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
      <label>Heslo
        {input password}
      </label>
    </div>
  </div>
  <div class="row">
	<div class="small-8 medium-6 large-4 small-centered columns">
	<div class="row">
    <div class="small-4 medium-2 large-1 columns">
		{input send}
    </div>
	</div>
	</div>
  </div>
{/form}
{/block}
