{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
        <h4>Přidání léčby</h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

    <!-- vložíme formulář pro vytvoření léčby
         renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
    {form lecbaForm}
        <!-- výpis chyb -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
        </div>
        </div>

        <!-- vkládání polí formuláře -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Zvíře <small>vyžadováno</small>
                {input ID_zvirete}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Nemoc <small>vyžadováno</small>
                {input ID_nemoci}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Upřesnění diagnózy
                {input upresneni_diagnozy}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Datum zahájení léčby
                {input datum_zahajeni_lecby}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Stav
            <div class="row">
                {foreach $form[stav]->items as $key => $label}
                <div class="small-6 medium-4 large-4 columns end">
                    <label n:name="stav:$key"><input n:name="stav:$key"> {$label}</label>
                </div>
                {/foreach}
            </div>
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Cena
                {input cena}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Diagnózu provedl
                {input vypis_zamestnance}
            </label>
        </div>
        </div>

        {input ID_zamestnance}

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <div class="row">
            <div class="small-4 medium-2 large-1 columns">
                {input send}
            </div>
            </div>
        </div>
        </div>

        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    {/form}
{/block}
