{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>

        <!-- definujeme tabulku, do které budeme vypisovat informace o léčbách -->
        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            
            <!-- Nadpis se nastaví podle toho, jestli jsme vyhledávali, vypisovali léčby podle zvířete nebo chceme vypsat všechny léčby -->
            <caption><h5>{if $zobraz_souvisejici_lecby_podle_id_zvirete}
                            Výpis léčeb zvířete: <strong>{$zvire->jmeno}</strong>
                        {elseif $vyhledej_lecby}
                            Vyhledání léčeb podle parametrů: <strong>{$searchParams}</strong>
                        {else}
                            Výpis léčeb
                        {/if}</h5></caption>
            <tr>
                <th>Pořadové číslo léčby</th>
                <th>Jméno zvířete</th>
                <th>Majitel</th>
                <th>Nemoc</th>
                <th>Upřesnění diagnózy</th>
                <th>Datum zahájení léčby</th>
                <th>Stav</th>
                <th>Cena</th>
                <th>Diagnózu provedl</th>
            </tr>

            <!-- procházíme předané léčby -->
            <tr n:foreach="$lecby as $lecba">
                <!-- a vpisujeme informace do tabulky -->
                <td>{$lecba->poradove_cislo_lecby}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            
                            <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                            {if $user->isInRole('Doktor')}
                                <li><a n:href="Lecba:edit $lecba->ID_zvirete, $lecba->poradove_cislo_lecby">Upravit</a></li>
                                <li><a n:href="Lecba:delete $lecba->ID_zvirete, $lecba->poradove_cislo_lecby">Smazat</a></li>
                            {/if}
                                <li><a n:href="LecbaLek:default zobrazSouvisejiciLekyPodleIdZvirete => $lecba->ID_zvirete, zobrazSouvisejiciLekyPodleIdLecby => $lecba->poradove_cislo_lecby">Zobrazit léky k dané léčbě</a></li>
                            {if $user->isInRole('Doktor')}
                                <li><a n:href="LecbaLek:create pridejLekKLecbePodleIDLecby => $lecba->poradove_cislo_lecby, pridejLekKLecbePodleIDZvirete => $lecba->ID_zvirete">Předepsat lék k dané léčbě</a></li>
                            {/if}
                        </ul>
                    </div>
                </td>
                <td>{$lecba->zvire->jmeno}</td>
                <td>{$lecba->zvire->majitel->jmeno} {$lecba->zvire->majitel->prijmeni}</td>
                <td>{$lecba->nemoc->nazev}</td>
                <td>{$lecba->upresneni_diagnozy}</td>
                <td>{$lecba->datum_zahajeni_lecby|date:'%d.%m.%Y'}</td>
                <td>{$lecba->stav}</td>
                {ifset $lecba->cena}
                    <td>{$lecba->cena} Kč</td>
                {else}
                    <td></td>
                {/ifset}
                <td>{$lecba->ref('zamestnanec', 'ID_zamestnance')->jmeno} {$lecba->ref('zamestnanec', 'ID_zamestnance')->prijmeni}</td>
            </tr>
        </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
