{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
        
        <!-- Nadpis se nastaví podle toho, jestli přidáváme lék k nemoci, nebo nemoc k léku -->
        <h4>{if $pridejLekKNemociPodleID}
                Přidání léku k nemoci: <strong>{$nemoc->nazev}</strong>
            {elseif $pridejNemocKLekuPodleID}
                Přidání nemoci k léku: <strong>{$lek->nazev}</strong>
            {/if}</h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>
    
    <!-- Pokud přidáváme lék k nemoci -->
    {if $pridejLekKNemociPodleID}
    
        <!-- vložíme formulář pro přidání léku k nemoci
             renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
        {form pridejLekKNemociForm}
        
            <!-- výpis chyb -->
            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <ul class="errors" n:if="$form->hasErrors()">
                    <li n:foreach="$form->errors as $error">{$error}</li>
                </ul>
            </div>
            </div>

            <!-- vkládání polí formuláře -->
            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Délka léčby
                    {input delka_lecby}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Procento úspěšné léčby
                    {input procento_uspesne_lecby}
                </label>
            </div>
            </div>

            {input ID_nemoci}

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Léky <small>vyžadováno</small>
                    {input ID_leku}
                </label>
            </div>
            </div>
            

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <div class="row">
                <div class="small-4 medium-2 large-1 columns">
                    {input send}
                </div>
                </div>
            </div>
            </div>

            <div class="row">&nbsp;&nbsp;</div>
            <div class="row">&nbsp;&nbsp;</div>
        {/form}
        
    <!-- Pokud přidáváme nemoc k léku -->
    {elseif $pridejNemocKLekuPodleID}
    
        <!-- vložíme formulář pro přidání nemoci k léku
             renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
        {form pridejNemocKLekuForm}
            <div class="row">
                
            <!-- výpis chyb -->
            <div class="small-8 medium-6 large-4 small-centered columns">
                <ul class="errors" n:if="$form->hasErrors()">
                    <li n:foreach="$form->errors as $error">{$error}</li>
                </ul>
            </div>
            </div>

            <!-- vkládání polí formuláře -->
            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Délka léčby
                    {input delka_lecby}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Procento úspěšné léčby
                    {input procento_uspesne_lecby}
                </label>
            </div>
            </div>

            {input ID_leku}

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Nemoci <small>vyžadováno</small>
                    {input ID_nemoci}
                </label>
            </div>
            </div>
            

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <div class="row">
                <div class="small-4 medium-2 large-1 columns">
                    {input send}
                </div>
                </div>
            </div>
            </div>

            <div class="row">&nbsp;&nbsp;</div>
            <div class="row">&nbsp;&nbsp;</div>
        {/form}
    {/if}
{/block}
