{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>

        <!-- definujeme tabulku, do které budeme vypisovat informace o lécích k nemoci a vice versa -->
        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            
            <!-- Nadpis se nastaví podle toho, jestli zobrazujeme léky k nemoci, nebo nemoci k léku -->
            <caption><h5>{if $zobrazSouvisejiciLekyPodleIdNemoci}
                            Výpis léků pro nemoc s názvem: <strong>{$nemoc->nazev}</strong>
                        {elseif $zobrazSouvisejiciNemociPodleIdLeku}
                            Výpis nemocí pro lék s názvem: <strong>{$lek->nazev}</strong> a typem: <strong>{$lek->typ}</strong>
                        {/if}</h5></caption>
                        
            <!-- Pokud zobrazujeme léky k nemoci -->
            {if $zobrazSouvisejiciLekyPodleIdNemoci}
                <tr>
                    <th>Název léku</th>
                    <th>Typ léku</th>
                    <th>Účinná látka</th>
                    <th>Kontraindiakce</th>
                    <th>Délka léčby</th>
                    <th>Procento úspěšné léčby</th>
                </tr>

                <!-- procházíme předané léky a vpisujeme informace do tabulky -->
                <tr n:foreach="$souvisejiciLekyPodleIdNemoci as $souvisejiciLekPodleIdNemoci">
                    <td>{$souvisejiciLekPodleIdNemoci->lek->nazev}
                        <div style="visibility:hidden;" class="div-show-addition-info">
                            <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                            <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                                
                                <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                                <li><a n:href="LekNemoc:edit upravLekyUNemoci => 'true', ID_leku => $souvisejiciLekPodleIdNemoci->ID_leku, ID_nemoci => $souvisejiciLekPodleIdNemoci->ID_nemoci">Upravit</a></li>
                                <li><a n:href="LekNemoc:deleteLekUNemoci ID_leku => $souvisejiciLekPodleIdNemoci->ID_leku, ID_nemoci => $souvisejiciLekPodleIdNemoci->ID_nemoci">Smazat</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>{$souvisejiciLekPodleIdNemoci->lek->typ}</td>
                    <td>{$souvisejiciLekPodleIdNemoci->lek->ucinna_latka}</td>
                    <td>{$souvisejiciLekPodleIdNemoci->lek->kontraindikace}</td>
                    <td>{$souvisejiciLekPodleIdNemoci->delka_lecby}</td>
                    <td>{$souvisejiciLekPodleIdNemoci->procento_uspesne_lecby != NULL ? $souvisejiciLekPodleIdNemoci->procento_uspesne_lecby.'%'}</td>
                </tr>
                
            <!-- Pokud zobrazujeme nemoci k léku -->
            {elseif $zobrazSouvisejiciNemociPodleIdLeku}
               <tr>
                    <th>Název nemoci</th>
                    <th>Příznaky</th>
                    <th>Délka léčby</th>
                    <th>Procento úspěšné léčby</th>
                </tr>

                <!-- procházíme předané nemoci a vpisujeme informace do tabulky -->
                <tr n:foreach="$souvisejiciNemociPodleIdLeku as $souvisejiciNemocPodleIdLeku">
                    <td>{$souvisejiciNemocPodleIdLeku->nemoc->nazev}
                        <div style="visibility:hidden;" class="div-show-addition-info">
                            <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                            <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                                
                                <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                                <li><a n:href="LekNemoc:edit upravLekyUNemoci => 'false', ID_leku => $souvisejiciNemocPodleIdLeku->ID_leku, ID_nemoci => $souvisejiciNemocPodleIdLeku->ID_nemoci">Upravit</a></li>
                                <li><a n:href="LekNemoc:deleteNemocULeku ID_leku => $souvisejiciNemocPodleIdLeku->ID_leku, ID_nemoci => $souvisejiciNemocPodleIdLeku->ID_nemoci">Smazat</a></li>
                        </div>
                    </td>
                    <td>{$souvisejiciNemocPodleIdLeku->nemoc->priznaky}</td>
                    <td>{$souvisejiciNemocPodleIdLeku->delka_lecby}</td>
                    <td>{$souvisejiciNemocPodleIdLeku->procento_uspesne_lecby != NULL ? $souvisejiciNemocPodleIdLeku->procento_uspesne_lecby.'%'}</td>
                </tr>
            {/if}
        </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
