{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>

        <!-- definujeme tabulku, do které budeme vypisovat informace o nemocích -->
        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>
                <!-- Nadpis se nastaví podle toho, jestli jsme vyhledávali nebo ne -->
                {if $vyhledej_nemoci}
                    Vyhledání nemocí podle parametrů: <strong>{$searchParams}</strong>
                {else}
                    Výpis nemocí
                {/if}
            </h5></caption>
            <tr>
                <th>Název</th>
                <th>Příznaky</th>
            </tr>

            <!-- procházíme předané nemoci -->
            <tr n:foreach="$nemoci as $nemoc">
                <!-- a vpisujeme informace do tabulky -->
                <td>{$nemoc->nazev}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">

                            <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                            <li><a n:href="Nemoc:edit $nemoc->ID_nemoci">Upravit</a></li>
                            <li><a n:href="Nemoc:delete $nemoc->ID_nemoci">Smazat</a></li>
                            <li><a n:href="LekNemoc:default zobrazSouvisejiciLekyPodleIdNemoci => $nemoc->ID_nemoci">Zobrazit léky k dané nemoci</a></li>
                            <li><a n:href="LekNemoc:create pridejLekKNemociPodleID => $nemoc->ID_nemoci">Přidat lék k dané nemoci</a></li>
                        </ul>
                    </div>
                </td>
                <td>{$nemoc->priznaky}</td>
            </tr>
        </table>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
