{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
    
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <h4>Přidání zaměstnance</h4>
        </div>
        </div>

        <div class="row">&nbsp;&nbsp;</div>

        <!-- vložíme formulář
             renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
        {form zamestnanecForm}
            
            <!-- výpis chyb -->
            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <ul class="errors" n:if="$form->hasErrors()">
                    <li n:foreach="$form->errors as $error">{$error}</li>
                </ul>
            </div>
            </div>

            <!-- vkládání polí formuláře -->
            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Jméno <small>vyžadováno</small>
                    {input jmeno}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Příjmení <small>vyžadováno</small>
                    {input prijmeni}
                </label>
            </div>
            </div>
            
            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Pozice <small>vyžadováno</small>
                    {input ID_pozice}
                </label>
            </div>
            </div>
            
            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Titul
                    {input titul}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Ulice
                    {input ulice}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Město
                    {input mesto}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Poštovní směrovací číslo
                    {input psc}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Číslo účtu
                    {input cislo_uctu}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Login <small>vyžadováno</small>
                    {input login}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Heslo <small>vyžadováno</small>
                    {input heslo}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Heslo pro ověření <small>vyžadováno</small>
                    {input heslo_overeni}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <div class="row">
                <div class="small-4 medium-2 large-1 columns">
                    {input send}
                </div>
                </div>
            </div>
            </div>
        
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    {/form}
{/block}
