{block content}
<div class="row">
<div class="small-12 medium-12 large-12 small-centered columns">
	<div class="row">&nbsp;&nbsp;</div>
	<div class="row">&nbsp;&nbsp;</div>
    
    <!-- definujeme tabulku, do které budeme vypisovat informace o zaměstnancích -->
    <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
    <!-- Nadpis se nastaví podle toho, jestli jsme vyhledávali nebo chceme vypsat všechny zaměstnance nebo jen ty na určité pozici -->
    <caption><h5>
        {if $template->zobraz_souvisejici_zamestnance_podle_id}Výpis zaměstnanců na pozici: <strong>{$pozice->nazev}</strong>
        {elseif $vyhledej_zamestnance} Vyhledání zaměstnance podle parametrů: <strong>{$searchParams}</strong> 
        {else}Výpis zaměstnanců kliniky{/if}
        </h5></caption>
    <tr>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Pozice</th>
        <th>Titul</th>
        <th>Ulice</th>
        <th>Město</th>
        <th>PSČ</th>
        <th>Číslo účtu</th>
        <th>Login</th>
    </tr>
        <!-- procházíme předané zaměstnance a vypisujeme informace do tabulky -->
        <tr n:foreach="$zamestnanci as $zamestnanec">
            <td>{$zamestnanec->jmeno}
                <div style="visibility:hidden;" class="div-show-addition-info">
                <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                    
                    <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                    <li><a n:href="Zamestnanec:edit $zamestnanec->ID_zamestnance">Upravit</a></li>
                    <li><a n:href="Zamestnanec:delete $zamestnanec->ID_zamestnance">Smazat</li>
                </ul>
                </div>
            </td>
            <td>{$zamestnanec->prijmeni}</td>
            <td>{$zamestnanec->pozice->nazev}</td>
            <td>{$zamestnanec->titul}</td>
            <td>{$zamestnanec->ulice}</td>
            <td>{$zamestnanec->mesto}</td>
            <td>{$zamestnanec->psc}</td>
            <td>{$zamestnanec->cislo_uctu}</td>
            <td>{$zamestnanec->login}</td>
        </tr>
    </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
