{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">

        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>

        <!-- definujeme tabulku, do které budeme vypisovat informace o druzích -->
        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>Výpis druhů zvířat</h5></caption>
            <tr>
                <th>Název</th>
            </tr>

            <!-- procházíme předané druhy -->
            <tr n:foreach="$druhy as $druh" class="druh">
                <!-- a vpisujeme informace do tabulky -->
                <td>{$druh->nazev}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                    <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                    <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">

                        <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                        <li><a n:href="Druh:edit $druh->ID_druhu">Upravit</a></li>
                        <li><a n:href="Druh:delete $druh->ID_druhu">Smazat</a></li>
                        <li><a n:href="Zvire:default zobrazSouvisejiciZvirataPodleIdDruhu => $druh->ID_druhu">Zobrazit zvířata tohoto druhu</a></li>
                        <li><a n:href="DruhLek:default zobrazSouvisejiciLekyPodleIdDruhu => $druh->ID_druhu">Zobrazit léky k danému druhu</a></li>
                        <li><a n:href="DruhLek:create pridejLekKeDruhuPodleID => $druh->ID_druhu">Přidat lék k danému druhu</a></li>
                    </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
