{* This is the welcome page, you can delete it *}

{block content}
	<div class="row">&nbsp;&nbsp;</div>
	<div class="row">&nbsp;&nbsp;</div>
	<div class="row">
	<div class="small-8 medium-6 large-4 small-centered columns"><h4>Vítejte v informačním systému veterinární kliniky.</h4></div>
    <div class="row">&nbsp;&nbsp;</div>
	<div class="row">&nbsp;&nbsp;</div>
    
    <div class="small-8 medium-6 large-4 small-centered columns"><img src="{$basePath}/images/teddy.jpg"></img></div>
    
    
{/block}