{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
        <h4>Přidání majitele</h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

    <!-- vložíme formulář
         renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
    {form majitelForm}
        <!-- výpis chyb -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
        </div>
        </div>

        <!-- vkládání polí formuláře -->

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Jméno <small>vyžadováno</small>
                {input jmeno}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Příjmení <small>vyžadováno</small>
                {input prijmeni}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Ulice
                {input ulice}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Město
                {input mesto}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Poštovní směrovací číslo
                {input psc}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Číslo účtu
                {input cislo_uctu}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Rodné číslo
                {input rodne_cislo}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Číslo občanského průkazu
                {input cislo_OP}
            </label>
        </div>
        </div>

        <!-- renderujeme výčet (enum) -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Typ
            <div class="row">
                <!-- projdeme všechny jeho položky -->
                {foreach $form[typ]->items as $key => $label}
                    <!-- každou položku zobrazíme zvlášť -->
                    <div class="small-6 medium-4 large-4 columns end">
                        <label n:name="typ:$key"><input n:name="typ:$key"> {$label}</label>
                    </div>
                {/foreach}
            </div>
            </label>
        </div>
        </div>

        <div id="cont_pravnicka_osoba">
            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>IČO
                    {input ICO}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>DIC
                    {input DIC}
                </label>
            </div>
            </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <div class="row">
            <div class="small-4 medium-2 large-1 columns">
                {input send}
            </div>
            </div>
        </div>
        </div>

        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    {/form}
{/block}
