{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>

        <!-- definujeme tabulku, do které budeme vypisovat informace o majitelích -->
        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>
                <!-- Nadpis se nastaví podle toho, jestli jsme vyhledávali nebo ne -->
                {if $vyhledej_majitele}
                    Vyhledání majitele podle parametrů: <strong>{$searchParams}</strong>
                {else}
                    Výpis majitelů zvířat
                {/if}
            </h5></caption>
            <tr>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Ulice</th>
                <th>Město</th>
                <th>PSČ</th>
                <th>Číslo účtu</th>
                <th>Rodné číslo</th>
                <th>Číslo OP</th>
                <th>IČO</th>
                <th>DIČ</th>
            </tr>

            <!-- procházíme předané majitele -->
            <tr n:foreach="$majitele as $majitel">
                <!-- a vpisujeme informace do tabulky -->
                <td>{$majitel->jmeno}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">

                            <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                            <li><a n:href="Zvire:default zobrazSouvisejiciZvirataPodleIdMajitele => $majitel->ID_majitele">Zobrazit zvířata patříci majiteli</a></li>
                            <li><a n:href="Majitel:edit $majitel->ID_majitele">Upravit</a></li>
                            <li><a n:href="Majitel:delete $majitel->ID_majitele">Smazat</a></li>
                        </ul>
                    </div>
                </td>
                <td>{$majitel->prijmeni}</td>
                <td>{$majitel->ulice}</td>
                <td>{$majitel->mesto}</td>
                <td>{$majitel->psc}</td>
                <td>{$majitel->cislo_uctu}</td>
                <td>{$majitel->rodne_cislo}</td>
                <td>{$majitel->cislo_OP}</td>
                <td>{$majitel->ICO}</td>
                <td>{$majitel->DIC}</td>
            </tr>
        </table>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
