{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-10 medium-8 large-6 small-centered columns">
        <h4>Vyhledání majitele</h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

    <!-- vložíme formulář
         renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
    {form searchMajitelForm}
        <!-- výpis chyb -->
        <div class="row">
        <div class="small-10 medium-8 large-6 small-centered columns">
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
        </div>
        </div>

        <!-- vkládání polí formuláře -->

        <div class="row">
        <div class="small-10 medium-8 large-6 small-centered columns">
            <div class="row collapse">
                <div class="small-3 columns">
                    {input jmeno}
                </div>

                <div class="small-3 columns">
                    {input prijmeni}
                </div>

                <div class="small-3 columns">
                    {input mesto}
                </div>

                <div class="small-3 columns">
                    {input send}
                </div>
            </div>
        </div>
        </div>

        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    {/form}
{/block}
