{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>

        <!-- definujeme tabulku, do které budeme vypisovat informace o lécích -->
        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>
                <!-- Nadpis se nastaví podle toho, jestli jsme vyhledávali, vypisovali zvířata podle druhu,
                     nebo podle majitele a nebo chceme vypsat všechna zvířata -->
                {if $zobraz_souvisejici_zvirata_podle_id_druhu}
                    Výpis zvířat druhu: <strong>{$druh->nazev}</strong>
                {elseif $zobraz_souvisejici_zvirata_podle_id_majitele}
                    Výpis zvířat patříci majiteli: <strong>{$majitel->jmeno} {$majitel->prijmeni}</strong>
                {elseif $vyhledej_zvirata}
                    Vyhledání zvířat podle parametrů: <strong>{$searchParams}</strong>
                {else}
                    Výpis zvířat
                {/if}
            </h5></caption>
            <tr>
                <th>Jméno</th>
                <th>Majitel</th>
                <th>Druh</th>
                <th>Pohlaví</th>
                <th>Barva</th>
                <th>Váha</th>
                <th>Datum narození</th>
                <th>Datum poslední prohlídky</th>
            </tr>

            <!-- procházíme předané léky -->
            <tr n:foreach="$zvirata as $zvire">
                <!-- a vpisujeme informace do tabulky -->
                <td>{$zvire->jmeno}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">

                            <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                            <li><a n:href="Lecba:default zobrazSouvisejiciLecbyPodleIdZvirete => $zvire->ID_zvirete">Zobrazit léčby zvířete</a></li>
                            <li><a n:href="Zvire:edit $zvire->ID_zvirete">Upravit</a></li>
                            <li><a n:href="Zvire:delete $zvire->ID_zvirete">Smazat</a></li>
                        </ul>
                    </div>
                </td>
                <td>{$zvire->majitel->jmeno} {$zvire->majitel->prijmeni}</td>
                <td>{$zvire->druh->nazev}</td>
                <td>{$zvire->pohlavi}</td>
                <td>{$zvire->barva}</td>
                <!-- váha se vypíše jenom když je nastavena
                     je to kvůli tomu, aby nebylo vypsáno "kg" bez čísla před ním -->
                {ifset $zvire->vaha}
                    <td>{$zvire->vaha} Kg</td>
                {else}
                    <td></td>
                {/ifset}
                <!-- datumy se vypíšou v požadovaném formátu -->
                <td>{$zvire->datum_narozeni|date:'%d.%m.%Y'}</td>
                <td>{$zvire->dat_posl_prohl|date:'%d.%m.%Y'}</td>
            </tr>
        </table>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
