{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
        <h4>Úprava zvířete</h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

    <!-- vložíme formulář
         renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
    {form zvireForm}
        <!-- výpis chyb -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
        </div>
        </div>

        <!-- vkládání polí formuláře -->

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Jméno <small>vyžadováno</small>
                {input jmeno}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Majitel <small>vyžadováno</small>
                {input ID_majitele}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Druh <small>vyžadováno</small>
                {input ID_druhu}
            </label>
        </div>
        </div>

        <!-- renderujeme výčet (enum) -->
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Pohlaví
            <div class="row">
                <!-- projdeme všechny jeho položky -->
                {foreach $form[pohlavi]->items as $key => $label}
                    <!-- každou položku zobrazíme zvlášť -->
                    <div class="small-6 medium-4 large-4 columns end">
                        <label n:name="pohlavi:$key"><input n:name="pohlavi:$key"> {$label}</label>
                    </div>
                {/foreach}
            </div>
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Barva
                {input barva}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Váha
                {input vaha}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Datum narození
                {input datum_narozeni}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <label>Datum poslední prohlídky
                {input dat_posl_prohl}
            </label>
        </div>
        </div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <div class="row">
            <div class="small-4 medium-2 large-1 columns">
                {input send}
            </div>
            </div>
        </div>
        </div>

        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    {/form}
{/block}
