{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
        <h4>Předepsat lék pro léčbu zvířete se jménem: <strong>{$lecba->zvire->jmeno}</strong> v rámci léčby č.: <strong>{$lecba->poradove_cislo_lecby}</strong></h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

        <!-- vložíme formulář pro přidání léku u léčby
             renderujeme ho ručně, aby jsme mohli nastavit co se má kde vykreslit -->
        {form pridejLekKLecbeForm}
        
            <!-- výpis chyb -->
            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <ul class="errors" n:if="$form->hasErrors()">
                    <li n:foreach="$form->errors as $error">{$error}</li>
                </ul>
            </div>
            </div>

            <!-- vkládání polí formuláře -->
            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Datum nasazení
                    {input datum_nasazeni}
                </label>
            </div>
            </div>

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Doba podávání
                    {input doba_podavani}
                </label>
            </div>
            </div>
            
            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Dávkování
                    {input davkovani}
                </label>
            </div>
            </div>

            {input ID_zvirete}
            {input poradove_cislo_lecby}

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <label>Léky <small>vyžadováno</small>
                    {input ID_leku}
                </label>
            </div>
            </div>
            

            <div class="row">
            <div class="small-8 medium-6 large-4 small-centered columns">
                <div class="row">
                <div class="small-4 medium-2 large-1 columns">
                    {input send}
                </div>
                </div>
            </div>
            </div>

            <div class="row">&nbsp;&nbsp;</div>
            <div class="row">&nbsp;&nbsp;</div>
        {/form}

{/block}
