{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
        
        <!-- definujeme tabulku, do které budeme vypisovat informace o lécích dané léčbě -->
        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
           {if $vypisLeky}           
           <caption><h5>Výpis léků předepsaných pro léčbu zvířete se jménem: <strong>{$lecba->zvire->jmeno}</strong> v rámci léčby č.: <strong>{$lecba->poradove_cislo_lecby}</strong> </h5></caption>
                <tr>
                    <th>Název léku</th>
                    <th>Typ léku</th>
                    <th>Účinná látka</th>
                    <th>Kontraindiakce</th>
                    <th>Datum nasazení</th>
                    <th>Doba podávání</th>
                    <th>Dávkování</th>
                    <th>Lék podal</th>
                </tr>

                <!-- procházíme předané léky a vpisujeme informace do tabulky -->
                <tr n:foreach="$souvisejiciLekyPodleLecby as $souvisejiciLekPodleLecby">
                    <td>{$souvisejiciLekPodleLecby->lek->nazev}
                        <div style="visibility:hidden;" class="div-show-addition-info">
                            
                            <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                            <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            {if $user->isInRole('Doktor')}
                            
                            <!-- přidáme odkazy na požadované akce a předáme požadované parametry -->
                            <li><a n:href="LecbaLek:edit ID_leku => $souvisejiciLekPodleLecby->ID_leku, poradove_cislo_lecby => $souvisejiciLekPodleLecby->poradove_cislo_lecby, ID_zvirete => $souvisejiciLekPodleLecby->ID_zvirete">Upravit</a></li>
                            <li><a n:href="LecbaLek:delete ID_leku => $souvisejiciLekPodleLecby->ID_leku, poradove_cislo_lecby => $souvisejiciLekPodleLecby->poradove_cislo_lecby, ID_zvirete => $souvisejiciLekPodleLecby->ID_zvirete">Smazat</a></li>
                            {/if}
                            {if !$souvisejiciLekPodleLecby->ID_zamestnance}<li><a n:href="LecbaLek:podatLek ID_leku => $souvisejiciLekPodleLecby->ID_leku, poradove_cislo_lecby => $souvisejiciLekPodleLecby->poradove_cislo_lecby, ID_zvirete => $souvisejiciLekPodleLecby->ID_zvirete">Podat lék</a></li>{/if}
                            </ul>
                            
                            <!-- ID_leku => $souvisejiciLekPodleLecby->ID_leku, poradove_cislo_lecby => $souvisejiciLekPodleLecby->poradove_cislo_lecby, ID_zvirete => souvisejiciLekPodleLecby->ID_zvirete-->
                        </div>
                    </td>
                    <td>{$souvisejiciLekPodleLecby->lek->typ}</td>
                    <td>{$souvisejiciLekPodleLecby->lek->ucinna_latka}</td>
                    <td>{$souvisejiciLekPodleLecby->lek->kontraindikace}</td>
                    <td>{$souvisejiciLekPodleLecby->datum_nasazeni|date:'%d.%m.%Y'}</td>
                    <td>{$souvisejiciLekPodleLecby->doba_podavani}</td>
                    <td>{$souvisejiciLekPodleLecby->davkovani}</td>
                    <td>{if $souvisejiciLekPodleLecby->ID_zamestnance}{$souvisejiciLekPodleLecby->ref('zamestnanec', 'ID_zamestnance')->jmeno} {$souvisejiciLekPodleLecby->ref('zamestnanec', 'ID_zamestnance')->prijmeni}{/if}</td>
                </tr>
            {/if}  
        </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
