{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|striptags} | {/ifset}Nette Sandbox</title>

    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    {* FOUNDATION *}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{$basePath}/css/foundation.css" />
    <link rel="stylesheet" href="{$basePath}/css/app.css" />
        <script src="{$basePath}/js/vendor/modernizr.js"></script>
    {* FOUNDATION *}
    {* FOUNDATION RESPONYIBLE TABLE*}
    <link type="text/css" media="screen" rel="stylesheet" href="{$basePath}/vendor/zurb-responsive-tables/responsive-tables.css" />
    <script type="text/javascript" src="{$basePath}/vendor/zurb-responsive-tables/responsive-tables.js"></script>
    {* FOUNDATION RESPONYIBLE TABLE*}
    

    {block head}{/block}
</head>

<body>
    {* MENU *}
    <!-- Uživatel je přihlášen, zobrazíme administrační rozhraní pro jeho roli -->
    {if $user->isLoggedIn()}
        <div class="row">
            <div class="small-12 medium-12 large-12 small-centered columns">
                <div class="fixed">
                <nav class="top-bar" data-topbar role="navigation">
                  <ul class="title-area">
                    <li class="name">
                      <h1 style="background:#008CBA"><a n:href="Homepage:default" style="background:#008CBA">&nbsp;&nbsp;&nbsp;Veterinární klinika - Informační systém&nbsp;&nbsp;&nbsp;</a></h1>
                    </li>
                     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
                  </ul>

                  <section class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right">
                                           
                                           
                        <li><a href="#">Uživatel: {$user->getIdentity()->username} | Role: {$user->getRoles()[0]}</a></li>                  
                      
                        <li class="active"><a href="{link Sign:out}">Odhlásit se</a></li>
                    </ul>

                    <!-- Left Nav Section -->
                    <ul class="left">

                      <li class="has-dropdown">
                        <a n:href="Majitel:default">Majitelé</a>
                        <ul class="dropdown">
                            <li><a n:href="Majitel:default">Výpis majitelů</a></li>
                            <li><a n:href="Majitel:find">Vyhledat majitele</a></li>
                            <li><a n:href="Majitel:create">Přidat majitele</a></li>
                        </ul>
                      </li>

                      <li class="divider"></li>

                      <li class="has-dropdown">
                        <a n:href="Zvire:default">Zvířata</a>
                        <ul class="dropdown">
                            <li><a n:href="Zvire:default">Výpis zvířat</a></li>
                            <li><a n:href="Zvire:find">Vyhledat zvíře</a></li>
                            <li><a n:href="Zvire:create">Přidat zvíře</a></li>
                        </ul>
                      </li>

                      <li class="divider"></li>

                      <li class="has-dropdown">
                        <a n:href="Lecba:default">Léčby</a>
                        <ul class="dropdown">
                            <li><a n:href="Lecba:default">Výpis léčeb</a></li>
                            <li><a n:href="Lecba:find">Vyhledat léčbu</a></li>
                            {if $user->isInRole('Doktor')}
                                <li><a n:href="Lecba:create">Přidat léčbu</a></li>
                            {/if}
                        </ul>
                      </li>
                      
                      <li class="divider"></li>
                    
                      <li class="has-dropdown">
                        <a href="#">Administrace</a>
                        <ul class="dropdown">
                            <li class="has-dropdown">
                                <a n:href="Lek:default">Spravovat léky</a>
                                <ul class="dropdown">
                                    <li><a n:href="Lek:default">Výpis léků</a></li>
                                    <li><a n:href="Lek:find">Vyhledat lék</a></li>
                                    <li><a n:href="Lek:create">Přidat lék</a></li>
                                </ul>
                            </li>
                            
                            <li class="has-dropdown">
                                <a n:href="Nemoc:default">Spravovat nemoci</a>
                                <ul class="dropdown">
                                    <li><a n:href="Nemoc:default">Výpis nemocí</a></li>
                                    <li><a n:href="Nemoc:find">Vyhledat nemoc</a></li>
                                    <li><a n:href="Nemoc:create">Přidat nemoc</a></li>
                                </ul>
                            </li>
                            
                            <li class="has-dropdown">
                                <a n:href="Druh:default">Spravovat druhy</a>
                                <ul class="dropdown">
                                    <li><a n:href="Druh:default">Výpis druhů</a></li>
                                    <li><a n:href="Druh:create">Přidat druh</a></li>
                                </ul>
                            </li>
                            
                            {if $user->isInRole('Doktor')}
                            <li class="has-dropdown">
                                <a n:href="Zamestnanec:default">Spravovat zaměstnance</a>
                                <ul class="dropdown">
                                    <li><a n:href="Zamestnanec:default">Výpis zaměstnanců</a></li>
                                    <li><a n:href="Zamestnanec:find">Vyhledat zaměstnance</a></li>
                                    {if $user->isInRole('Vedouci')}
                                    <li><a n:href="Zamestnanec:create">Přidat zaměstnance</a></li>
                                    {/if}
                                </ul>
                            </li>
                            {/if}
                            {if $user->isInRole('Vedouci')}
                            <li class="has-dropdown">
                                <a n:href="Pozice:default">Spravovat pozice</a>
                                <ul class="dropdown">
                                    <li><a n:href="Pozice:default">Výpis pozic</a></li>
                                    <li><a n:href="Pozice:create">Přidat pozici</a></li>
                                </ul>
                            </li>
                            {/if}
                        </ul>
                      </li>

                    </ul>
                  </section>
                </nav>
                </div>
            </div>
        </div>
        <!-- Uživatel je přihlášen, zobrazíme mu formulář pro přihlášení -->
        {else}
        
        <div class="row">
        <div class="small-12 medium-12 large-12 small-centered columns">
            <div class="fixed">
            <nav class="top-bar" data-topbar role="navigation">
              <ul class="title-area">
                <li class="name">
                  <h1 style="background:#008CBA"><a href="#" style="background:#008CBA">&nbsp;&nbsp;&nbsp;Veterinární klinika - Informační systém&nbsp;&nbsp;&nbsp;</a></h1>
                </li>
                 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
              </ul>

              <section class="top-bar-section">

                <!-- Left Nav Section -->
                <ul class="left">
                  <li><a href="#">Přihlášení</a></li>
                </ul>
              </section>
            </nav>
            </div>
        </div>
    </div>
    
    {/if}
    {* MENU *}

    <div n:foreach="$flashes as $flash" data-alert n:class="$flash->type">{$flash->message}<a href="#" class="close">&times;</a></div>

    {include content}

    {block scripts}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/main.js"></script>
    
    {* FOUNDATION *}
    {* <script src="{$basePath}/js/vendor/jquery.js"></script> *}
    <script src="{$basePath}/js/foundation.min.js"></script>
    <script>
       $(document).foundation();
       $(document).ready(function() {
           
           $(".table-show-additional-info tr").mouseenter(function() {

              $( this ).find( ".div-show-addition-info" ).css("visibility","visible");
           })
          .mouseleave(function() {
              $( this ).find( ".div-show-addition-info" ).css("visibility","hidden");
          });
         
       });

     </script>
    {* FOUNDATION *}

    {/block}
</body>
</html>
